<ul class="topbar">
	<a href="/me"><li><u>A</u>bout</li></a>
	<a href="https://github.com/sonbyj01" target="_blank"><li><u>G</u>itHub</li></a>
	<a href="https://git.sonbyj01.xyz/henry.son" target="_blank"><li>Git<u>L</u>ab</li></a>
	<a href="https://git.sonbyj01.xyz/henry.son" target="_blank"><li>Linked<u>I</u>n</li></a>
	<a href="https://www.twitch.tv/henryjson50" target="_blank"><li><u>T</u>witch</li></a>
	<a href="https://twitter.com/sonbyj01" target="_blank"><li>T<u>w</u>itter</li></a>
</ul>